<div class="wallpaper"></div>
<mat-card>
  <mat-card-title>
    Registrarse
  </mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onRegistrar($event)"
    >
      <p>
        <mat-form-field>
          <input    [(ngModel)]="cedula"     
            type="text"
            matInput
            placeholder="Cedula"
            formControlName="cedula"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
          [(ngModel)]="nombre"
            type="text"
            matInput
            placeholder="Nombre"
            formControlName="nombre"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
          [(ngModel)]="apellido"
            type="text"
            matInput
            placeholder="Apellido"
            formControlName="apellido"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
          [(ngModel)]="telefono"
            type="text"
            matInput
            placeholder="Teléfono"
            formControlName="telefono"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
          [(ngModel)]="direccion"
            type="text"
            matInput
            placeholder="Dirección"
            formControlName="direccion"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="Correo"
            formControlName="correo"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
          [(ngModel)]="clave"
            type="password"
            matInput
            placeholder="Contraseña"
            formControlName="password"
          />
        </mat-form-field>
      </p>
      <button type="submit" mat-raised-button color="primary">Iniciar</button>
    </form>
  </mat-card-content>
</mat-card>
<div *ngIf="usuario$ | async as articulo">
  <p>Articulo: {{ articulo.nombre }}</p>
</div>
