

<!--The content below is only a placeholder and can be replaced.-->

<div class="container">

<app-navigation></app-navigation>
<router-outlet></router-outlet>



<!-- Banner -->
<section id="banner">
  <div class="inner">

    <h1 class="display-1">TAPICERÍA AUTOLUJOS ECUADOR</h1>

    <p>
      
      "Lo mejor para tu auto, en las mejores manos" <br />
 
        <img src="/assets/Principal.jpg" width="500" height="300" class="rounded" alt="">
    </p>
  </div>
</section>






<!-- Highlights -->
<section id="informacion" class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Acerca de Nuestra Empresa</h2>
      <p>
        Tapiceria Ecuador es  una empresa que desde sus inicios se ha desarrollado bajo principios y
        valores sólidos, siendo una empresa reconocida y que actualmente la
        empresa continúa asumiendo con responsabilidad y dinamismo los retos que
        nos presenta el mercado, entregando productos y asesoramiento de
        calidad.
      </p>
    </header>
    <div class="highlights">
      <section style="margin: auto; padding: 0px;">
        <div class="content">
          <header>
            <a href="#" class="icon fa-vcard-o"
              ><span class="label">Icon</span></a
            >
            <h3>Visión</h3>
          </header>
          <p>
            "Ser una empresa con prestigio reconocido, con buena estructura
            administrativa y comercial, para tener presencia en todo el mercado
            regional, disfrutar la preferencia de clientes y proveedores y
            juntos hacer rentable el trabajo en beneficio del desarrollo
            integral de nuestros colaboradores y de la comunidad en general.
          </p>
        </div>
      </section>
      <section style="margin: auto; padding: 0px;">
        <div class="content">
          <header>
            <a href="#" class="icon fa-files-o"
              ><span class="label">Icon</span></a
            >
            <h3>Misión</h3>
          </header>
          <p>
            " Ofrecer un buen servicio de abastecimiento de papelería, artículos
            para tapicería de autos al público en general, estableciendo
            con nuestros clientes relaciones comerciales mutuamente benéficas,
            logrando satisfacer las necesidades de los habitantes de la región y
            garantizar una mejor calidad de vida de nuestros colaboradores.
          </p>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper">
  <div class="inner">
    <h2>Nuestro local</h2>
    <p>
    </p>
  </div>
</section>

<!-- Testimonials -->
<section id="nosotros" class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Nuestro Equipo</h2>
      <p>
        Con la finalidad de mejorar la calidad de nuestros servicios nuestro
        equipo de trabajo esta conformado por personas llenas de carisma y
        dedicación en su labor.
      </p>
      <p>
        El trabajo en equipo es el secreto que hace que gente común consiga
        resultados poco comunes.
      </p>
    </header>
    <div class="testimonials">
      <section style="margin: auto; padding: 0px;">
        <div class="content">
          <blockquote>
            <p>
              Gerente General de Tapicería Ecuador
            </p>
          </blockquote>
          <div class="author">
            <div class="image">

            </div>
            <p class="credit">- <strong>Sr. Mauricio Acosta</strong></p>
          </div>
        </div>
      </section>

      <section style="margin: auto; padding: 0px;">
        <div class="content">
          <blockquote>
            <p>
              Contadora de Tapicería Ecuador
            </p>
          </blockquote>
          <div class="author">
            <div class="image">

            </div>
            <p class="credit">- <strong>Sra. Susana Coello</strong></p>
          </div>
        </div>
      </section>

      <section style="margin: auto; padding: 0px;">
        <div class="content">
          <blockquote>
            <p>
              Trabajador en Tapicería Ecuador
            </p>
          </blockquote>
          <div class="author">
            <div class="image">

            </div>
            <p class="credit">- <strong>Sr. Pedro Estrada</strong></p>
          </div>
        </div>
      </section>

      <section style="margin: auto; padding: 0px;">
        <div class="content">
          <blockquote>
            <p>
              Cajera en Tapicería Ecuador
            </p>
          </blockquote>
          <div class="author">
            <div class="image">

            </div>
            <p class="credit">- <strong>Srta. Marivel Coello</strong></p>
          </div>
        </div>
      </section>

      <section style="margin: auto; padding: 0px;">
        <div class="content">
          <blockquote>
            <p>
              Trabajador en Tapicería Ecuador
            </p>
          </blockquote>
          <div class="author">
            <div class="image">

            </div>
            <p class="credit">- <strong>Sr. Wilmer Toapanta</strong></p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <div class="content" style="margin: 0 10% 10px 10%;">
      <section>
        <h3>Contactos</h3>

        <h4 style="margin-bottom: 0px; margin-top: 15px;">Telefono:</h4>

        (032) 219155

        <h4 style="margin-bottom: 0px; margin-top: 15px;">Celular:</h4>

        0992823863

        <h4 style="margin-bottom: 0px; margin-top: 15px;">Correo:</h4>

        tapiceria_ecuador@hotmail.com
      </section>
      <section>
        <h4>Direccion</h4>
        <ul class="alt">
          <li><a href="#">Ecuador - Riobamba</a></li>
          <li><a href="#">Av 6 de Enero y Salomón Coello</a></li>
        </ul>
      </section>
      <section>
        <h4>Nuestras redes sociales</h4>
        <ul class="plain">
          <li>
            <a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a>
          </li>
          <li>
            <a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a>
          </li>
          <li>
            <a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a>
          </li>
        </ul>
      </section>
    </div>
    <div class="copyright">
      &copy; SYSTECH 2020 © Facultad de Informática y Electrónica.
    </div>
  </div>
</footer>




    <div class="container">
        <br>
        <br>
        <hr>
        <div class="text-center">
            <a style="color: inherit" href="https://github.com/zhulinn"><i class="fab fa-github fa-3x"></i></a>
        </div>


        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2021 Copyright:
            <a href="https://www.tapiceria_ecuador.com"> https://www.tapiceria_ecuador.com</a>
        </div>
        <!--/.Copyright-->
    </div>
</div>

