<div class="wallpaper"></div>
<mat-card>
  <mat-card-title>
    Iniciar Sesión
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onIniciar($event)">
      <p>
        <mat-form-field>
          <input
          [(ngModel)]="idusuario"
            type="number"
            matInput
            placeholder="Identifacador"
            formControlName="correo"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
          [(ngModel)]="clave"
            type="password"
            matInput
            placeholder="Contraseña"
            formControlName="password"
          />
        </mat-form-field>
      </p>
      <button type="submit" mat-raised-button color="primary">Iniciar</button>
    </form>
  </mat-card-content>
</mat-card>
<div *ngIf="usuario$ | async as articulo">
  <p>Articulo: {{ articulo.nombre }}</p>
</div>
