mat-toolbar {
  background: #1d1e22;
  padding-left: 100px;
  padding-right: 100px;

  .logo {
    margin-top: 8px;
    width: 65px;
  }

  .sep{
    color: white;
  }
}

a {
  color: #fff;
  text-decoration: none;
}
