<div class="new-articulo-container">
  <form
    [formGroup]="newUsuarioForm"
    (ngSubmit)="addNewUsuario(newUsuarioForm.value)"
  >
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Cedula"
        formControlName="cedula"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Nombre"
        formControlName="nombre"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Apellido"
        formControlName="apellido"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Teléfono"
        formControlName="telefono"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Dirección"
        formControlName="direccion"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Correo"
        formControlName="correo"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Contraseña"
        formControlName="password"
      />
    </mat-form-field>

    <div class="container-button">
      <input
        type="submit"
        class="mat-flat-button"
        value="Guardar"
      />
      <input
        mat-dialog-close
        type="button"
        class="mat-flat-button cerrar"
        value="Cerrar"
      />
    </div>
  </form>
</div>
