
<div id="components"><div id="component-76144"><div class="container-fluid px-0">
	<div class="component_slider" id="component_slider-76144">
    
    

    <!-- Carousel Empty -->
    <div class="component_slider-76144 owl-carousel owl-loaded owl-drag">

      

      

    

<script>
  
  $('.component_slider-76144').owlCarousel({
    items:1,
    autoHeight:true,
		loop:true,
		dots: false,
		margin:0,
		nav:true,
		autoplay: true,
		autoplayTimeout: 3000,
		autoplayHoverPause:true,
		navText: ["<i class='fas fa-chevron-left'></i>", "<i class='fas fa-chevron-right'></i>"]
	})
</script>

</div><div id="component-76145">
<div id="featured-products-76145" class="container">
  <!-- Products Section -->
  <div class="row">
    <div class="col-12">
      <h2 class="page-header">Productos</h2>
    </div>

    
    <!-- Featured Products -->
    
    <div class="col-md-3 col-6 product-block">
      

<a href="/tapete hyundai"><img class="img-fluid img-portfolio img-hover mb-3" src="/assets/Moqueta hyundai.jpg" srcset="/assets/Moqueta hyundai.jpg 1x, /assets/Moqueta hyundai.jpg 2x" width="370"  alt="Tapete Hyundai"></a>

<div class="caption">
  <h3><a href="/wacom-tablet">Moqueta Hyundai</a></h3>
  <div class="price-mob mb-2">
    
    
    $40.00
    
    
  </div>
  <div class="clearfix"></div>

  

</div>

    </div>
    
    <div class="col-md-3 col-6 product-block">
      
      <a href="/Luces"><img class="img-fluid img-portfolio img-hover mb-3" src="/assets/Luces.jpg" srcset="/assets/Luces.jpg 1x, /assets/Luces.jpg 2x" width="600" alt="Luces"></a>

<div class="caption">
  <h3><a href="/Luces">Luces </a></h3>
  <div class="price-mob mb-2">
    
    
    $12.00
    
    
  </div>
  <div class="clearfix"></div>

  

</div>

    </div>
    
    <div class="col-md-3 col-6 product-block">
      
      <a href="/Asientos-cuero"><img class="img-fluid img-portfolio img-hover mb-3" src="/assets/Asientos-cuero.jpg" srcset="/assets/Asientos-cuero.jpg 1x, /assets/Asientos-cuero.jpg 2x" width="425" alt="Asientos de cuero"> </a>
<div class="caption">
  <h3><a href="/Asientos de cuero ">Asientos de cuero</a></h3>
  <div class="price-mob mb-2">
    
    
    $360.00
    
    
  </div>
  <div class="clearfix"></div>

  

</div>

    </div>
    
    <div class="col-md-3 col-6 product-block">
      
      <a href="/Meguaiars"><img class="img-fluid img-portfolio img-hover mb-3" src="/assets/Meguaiars.jpg" srcset="/assets/Meguaiars.jpg 1x, /assets/Meguaiars.jpg 2x" width="180" alt="Meguaiars"></a>

<div class="caption">
  <h3><a href="/Meguaiars">Liquido limpiador para interiores Meguaiars </a></h3>
  <div class="price-mob mb-2">
    
    
    $20.00
    
    
  </div>
  <div class="clearfix"></div>

  

</div>

    </div>
    
    
  </div><!-- /.row -->
</div>

</div><div id="component-76146">
<div id="latest-products-76146" class="container">
  <!-- Products Section -->
  <div class="row">
    <div class="col-12">
      <h2 class="page-header">Productos del momento</h2>
    </div>

    
    <!-- Latest Products -->
    
    <div class="col-md-3 col-6 product-block">
      
      <a href="/guardabarros"><img class="img-fluid img-portfolio img-hover mb-3" src="/assets/guardabarros.jpg" srcset="/assets/guardabarros.jpg 1x, /assets/guardabarros.jpg 2x" alt="guardabarros"></a>

<div class="caption">
  <h3><a href="/guardabarros">Guardabarros Modelo KIA</a></h3>
  <div class="price-mob mb-2">
    
    
    $40.00
    
    
  </div>
  <div class="clearfix"></div>

  

</div>

    </div>
    
    <div class="col-md-3 col-6 product-block">
      
      <a href="/pulidor"><img class="img-fluid img-portfolio img-hover mb-3" src="/assets/Pulidor.jpg" srcset="/assets/Pulidor.jpg 1x, /assets/Pulidor.jpg 2x" width="320" alt="pulidor"></a>

<div class="caption">
  <h3><a href="/pulidor">Cera pulidora </a></h3>
  <div class="price-mob mb-2">
    
    
    $15.00
    
    
  </div>
  <div class="clearfix"></div>

  

</div>

    </div>
    
    <div class="col-md-3 col-6 product-block">
      


